name: Build Wheels

# Trigger the workflow on push to master. (this is equal to: PR is merged)
on:
  push:
    branches:
      - master
  pull_request_review:
    types: [ submitted ]

# Building wheels on Ubuntu, Windows and MacOS systems
jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-latest
          # Intel runner (x86_64)
          - os: macos-13
            cibw_archs_macos: x86_64
          # Apple Silicon runner (arm64)
          - os: macos-14
            cibw_archs_macos: arm64

    steps:
      - uses: actions/checkout@v4

      # Used to host cibuildwheel
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install cibuildwheel
        run: |
          python -m pip install --upgrade pip
          python -m pip install cibuildwheel==3.3.1

      - name: Install libomp
        if: runner.os == 'macOS'
        run: brew install libomp

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_SKIP: "cp27-* cp33-* cp34-* cp35-* cp36-* cp37-* cp38-* pp*"
          CIBW_PROJECT_REQUIRES_PYTHON: ">=3.9"
          CIBW_ARCHS: "auto64"

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl
  merge_wheels:
    runs-on: ubuntu-latest
    needs: build_wheels
    steps:
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: all-wheels
          pattern: wheels-*